.photo__trash-button {
  width: 18px;
  height: 19.3px;
  background-image: url(../../../images/Trash.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 18px 19.3px;
  border: none;
  cursor: pointer;
  padding: 0;
  opacity: 100%;
  transition: opacity 1s;
  grid-column: 2;
  grid-row: 1;
  z-index: 0;
  margin: 18px 15px 0px auto;
}
  
.photo__trash-button:hover {
  opacity: 50%;
  transition: opacity 1s;
}