.photo-grid {
    max-width: 1184px;
    padding-top: 92px;
    margin: auto;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

@media screen and (max-width: 1025px) {
    .photo-grid {
      padding-top: 92px;
      max-width: 928px;
      gap: 14px;
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
  }
  
@media screen and (max-width: 1000px) {
    .photo-grid {
      padding-top: 88px;
      max-width: 720px;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

@media screen and (max-width: 760px) {
    .photo-grid  {
       padding-top: 64px;
       max-width: 288px;
       gap: 12px;
       grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
  }
