.intro {
    margin: auto;
    max-width: 984px;
    padding-top: 92px;
}

@media screen and (max-width: 1000px) {
    .intro {
        padding-top: 88px;
        max-width: 720px;
    }
  }

@media screen and (max-width: 600px) {
    .intro {
        padding-top: 64px;
        max-width: 288px;
    }
  }