.header {
display: flex;
justify-content: space-between;
margin: auto;
padding-top: 28px;
max-width: 1184px;
}

@media screen and (max-width: 1025px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 600px) {
    .header {
    padding-top: 16px;
    max-width: 288px;
    }
  }