.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
  color: white;
  text-decoration: none;
}

.footer__column-link:hover {
  opacity: 50%;
  transition: opacity .3s linear;
}
